@import "scss/variable.scss";

.previewBoard {
    width: 12rem;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2px;
    border: 0.5rem solid $--color--purple--border;
    border-radius: $border-radius;
    background-color: $--color--purple--background;
    overflow: hidden;
}
