@import "scss/variable.scss";

.score-board-box__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #250c6c;
    color: white;

    p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $font-size-small;
    }
}
