$font-size-big: min(10rem, 15vh, 6vw);

$font-size-mid: min(5rem, 7vh, 3vw);
$font-size-mid-2: min(4.5rem, 5vw, 6vh);
$font-size-small: min(3.5rem, 3vw, 5vh);

$compenent-height: min(5rem, 8vh, 3vw);

$border-radius: 1.5rem;
$border-radius-2: 4rem;

$border-1: 1rem;

$--color--purple--border: #531cc9;
$--color--purple--background: #02054f;
