@import "scss/variable.scss";
.sidebar-btn {
    width: min(5rem, 55px);
    height: min(5rem, 55px);
    position: absolute;
    left: -90px;
    right: 0rem;
    top: 3rem;
    border-radius: 50%;
    background-color: #100071;
    border: 0;

    .burger-lines {
        width: 3rem;
        height: 0.3rem;
        background-color: white;
        margin: 0.7rem auto;
    }
}

.sidebar {
    &-background {
        position: absolute;
        background-color: rgba(black, 0.35);
        height: 100vh;
        z-index: 1;
    }

    &-box {
        position: absolute;
        right: 0rem;
        height: 100vh;
        background-color: rgba(black, 0.4);
        z-index: 2;
        transition: all 0.2s;
        color: white;
    }
}

.nav-box {
    padding: 0 6%;
    overflow: hidden;

    h3 {
        font-size: $font-size-mid;
        display: flex;
        align-items: center;
        padding: 2rem 0;
    }

    &__icon {
        /*width: 2rem;*/
        width: clamp(1rem, 3vw, 2rem);
        height: clamp(1rem, 3vw, 2rem);
        display: inline-block;
        background-size: cover;
        margin-right: 2rem;
        &--user {
            width: 3.5rem;
            height: 3.5rem;
            background-image: url("/img/icon/user-big.png");
        }

        &--home {
            background-image: url("/img/icon/home.png");
            background-size: 100%;
        }
        &--rank {
            background-image: url("/img/icon/ranking.png");
        }
        &--list {
            background-image: url("/img/icon/list.png");
        }
        &--achieve {
            background-image: url("/img/icon/achieve.png");
        }
    }

    &__nav {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        list-style: none;
        gap: 3vh;
        padding: 2.5rem 0;
        border-bottom: 1px solid gray;
        border-top: 1px solid gray;
        margin-bottom: 2rem;
        a:link,
        a:visited {
            color: rgba(white, 0.6);
            text-decoration: none;
            font-size: $font-size-small;
        }
        a:hover {
            color: white;
        }
    }

    &__logout {
        color: rgba(white, 0.6);
        font-weight: 600;
        cursor: pointer;
        font-size: $font-size-small;
        &:hover {
            color: white;
        }
    }
}
