@import "scss/variable.scss";
.board {
    display: grid;
    grid-gap: 2px;
    width: auto;

    /* body上下margin各為 4rem */
    height: calc(100vh - 4rem * 2);
    aspect-ratio: 1/2;

    min-height: 40rem;
    border: 1px solid gray;
    border-radius: $border-radius-2;

    overflow: hidden;
    background-color: rgb(212, 212, 212);
    border: 1rem solid $--color--purple--border;
    background-color: $--color--purple--background;
}
