@import "scss/variable.scss";

.login-box {
    display: grid;
    width: 100%;
    height: min(90vh, 95rem, 50vw);
    padding: min(5vh, 10rem) 5vw;
    grid-template-columns: 50% 50%;
    color: white;
    position: relative;
    align-items: center;
}

.left-box {
    margin-left: auto;
    grid-template-rows: repeat(5, auto);
    gap: 4.5rem;
    width: min(80rem, 45vw, 88vh);
    height: min(80rem, 45vw, 88vh);
    padding: min(2vh, 5rem) min(8rem, 8vh, 2.5vw);

    &__title {
        font-size: $font-size-big;
        text-align: center;
        font-weight: 300;
        margin: 0;
        margin-bottom: min(4rem, 4vh, 2vw);
        letter-spacing: 0.5rem;
    }

    &__list {
        font-size: $font-size-mid;
        list-style: none;
        display: flex;
        margin-bottom: min(6rem, 6vh, 5vw);

        li {
            &:not(:last-child) {
                margin-right: min(3rem, 2vw, 4vh);
            }
        }

        a:link,
        a:visited {
            text-decoration: none;
            font-weight: 400;
        }
    }

    &__navlink {
        color: gray;
    }

    &__navlink-active {
        color: white;
    }

    &__p {
        font-size: $font-size-small;
    }
}

.right-box {
    height: min(75rem, 80vh, 45vw);
    aspect-ratio: 1/1;
    background-image: url("/img/img/login_img.jpg");
    border-radius: $border-radius;
    position: relative;
    background-size: cover;
}

// login component

.login__form {
    display: grid;
    grid-template-rows: repeat(3);
    gap: min(8rem, 9vh, 4.5vw);
    margin-bottom: min(5rem, 4vh, 2.5vw);
}

.input-box {
    position: relative;
    height: min(5rem, 6.5vh, 3.6vw);

    input {
        position: absolute;
        top: 0;
        border: 0;
        width: 100%;
        height: 100%;
        border-radius: $border-radius;
        font-size: calc($font-size-small);
        padding-left: $font-size-mid;
        transition: all 0.2s;
        outline: none;
        box-shadow: 0.5rem 0.5rem 1rem rgba(black, 0.2);

        &:focus {
            padding-left: $font-size-small;

            & + .input-box__icon {
                width: 0;
                height: 0;
                overflow: hidden;
            }
        }
    }

    &__icon {
        position: absolute;
        width: min(2.5rem, 4vh, 2vw);
        height: min(2.5rem, 4vh, 2vw);
        display: inline-block;
        top: 50%;
        left: 2%;
        transform: translateY(-58%);

        &--login {
            background-image: url("/img/icon/user.png");
            background-size: cover;
        }

        &--password {
            background-image: url("/img/icon/password.png");
            background-size: cover;
        }

        &--confirm-password {
            background-image: url("/img/icon/lock.png");
            background-size: cover;
        }

        &--email {
            background-image: url("/img/icon/email.png");
            background-size: cover;
        }
    }
}

.left-box__link {
    &:link,
    &:visited {
        color: white;
        font-weight: 400;
        text-decoration: none;
    }
}

// register form
.register__form {
    display: grid;
    grid-template-rows: repeat(5);
    gap: min(5rem, 6vh);
    margin-bottom: 5rem;
}
