@import "scss/variable.scss";

.score-board-box {
    position: relative;
    top: 6vh;
    width: 150rem;
    max-width: 80vw;
    height: 70rem;
    max-height: 80vh;
    margin: auto;
    border-radius: 30px;
    border: $border-1 solid #531cc9;
    overflow: hidden;
    background-color: #02054f;

    &__title {
        height: 20%;
        background-color: #270f89;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        color: white;
        font-size: $font-size-mid-2;
        p {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__ul {
        display: grid;
        height: calc(100% - 20%);
        grid-template-rows: repeat(5, 1fr);
        gap: 2%;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        background-color: #250c6c;
        color: white;
        p {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $font-size-small;
        }
    }
}

.page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10vh auto;
    width: min(40rem, 21vw);

    &__btn {
        height: 5rem;
        max-height: 6vh;
        width: 5rem;
        max-width: 6vh;
        border-radius: 50%;
        background-color: black;
        position: relative;
        cursor: pointer;

        &--icon {
            display: inline-block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 50%;
            width: 50%;
            background-repeat: no-repeat;

            &--left {
                background-image: url("/img/icon/left-arrow1.png");
                background-size: 80%;
                background-position: 10% 50%;
            }
            &--right {
                background-image: url("/img/icon/right-arrow1.png");
                background-size: 80%;
                background-position: 80% 50%;
            }
        }
    }
    &__num {
        font-size: $font-size-small;
        font-weight: 400;
    }
}
