@import "scss/variable.scss";

.score-board-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
}

.score-board-box {
    width: 150rem;
    max-width: 80vw;
    // min-width: 110rem;
    height: 70rem;
    max-height: 80vh;
    border-radius: 30px;
    border: $border-1 solid #531cc9;
    overflow: hidden;
    background-color: #02054f;

    &__title {
        height: 20%;
        background-color: #270f89;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        color: white;
        font-size: 4rem;
        align-items: center;
        justify-items: start;

        p {
            display: inline-block;
            margin: auto;
            line-height: 1.2;
        }
    }

    &__ul {
        display: grid;
        height: calc(100% - 20%);
        grid-template-rows: repeat(5, 1fr);
        gap: 2%;
    }
}

.page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(40rem, 21vw);

    &__btn {
        height: 5rem;
        max-height: 6vh;
        width: 5rem;
        max-width: 6vh;
        border-radius: 50%;
        background-color: black;
        position: relative;
        cursor: pointer;

        &--icon {
            display: inline-block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 50%;
            width: 50%;
            background-repeat: no-repeat;

            &--left {
                background-image: url("/img/icon/left-arrow1.png");
                background-size: 80%;
                background-position: 10% 50%;
            }
            &--right {
                background-image: url("/img/icon/right-arrow1.png");
                background-size: 80%;
                background-position: 80% 50%;
            }
        }
    }
    &__num {
        font-size: $font-size-small;
        font-weight: 400;
    }
}

.sort {
    display: inline-block;
    background-image: url("/img/icon/sort.png");
    width: 3rem;
    height: 3rem;
    background-size: cover;
    background-position-y: 0.5rem;
}

.unsort {
    display: inline-block;
    background-image: url("/img/icon/unsort.png");
    width: 3rem;
    height: 3rem;
    background-size: cover;
    background-position-y: 0.5rem;
}

.cursor {
    cursor: pointer;
}
